.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(4, 4, 4);
  overflow: hidden;
}
.fieldContainer {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.headingContainer {
  font-weight: 900;
  font-size: 20pt;
  min-width: 12vw;
  padding: 20px;
  color: rgb(40, 40, 40);
  /* color:beige; */
  text-shadow: 4px 2px 8px black;
}

.rangeButtonContainer {
  border-radius: 10px;
  background-color: blue;
  padding: 20px;
  box-shadow: 2px 2px 8px blue;
  color: rgb(40, 40, 40);
  font-weight: bold;
}
.popupContainer {
  border-radius: 10px;
  background-color: rgb(180, 33, 33);
  padding: 20px;
  position: fixed;
  top: 0px;
}
@media screen and (min-width: 1200px) {
  .inputContainer {
    border-radius: 10px;
    padding: 20px;
    min-width: 10vw;
    max-width: max-content;
    font-size: 18pt;
    font-weight: bolder;
    color: rgb(40, 40, 40);
    box-shadow: 2px 2px 8px blue;
  }
}
@media screen and (max-width: 1200px) {
  .inputContainer {
    border-radius: 10px;
    padding: 20px;
    max-width: 20vh;
    font-size: 10pt;
    font-weight: bolder;
    color: rgb(40, 40, 40);
    box-shadow: 2px 2px 8px blue;
  }
}
